# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

## Line endings
# Enforce LF endings across the repo (works well with WSL/Linux tooling)
* text=auto eol=lf

# Explicitly ensure scripts and binstubs are LF
*.sh text eol=lf
bin/* text eol=lf
*.rake text eol=lf
